:root {
	/* Preferred colours variables */
	--agate-grey: hsl(75, 5%, 68%);
	--agate-grey: #AFB1A9;
	--agate-grey: rgb(175, 177, 169);
	--alizarin-crimson: hsl(16, 100%, 15%);
	--alizarin-crimson: #4E1500;
	--alizarin-crimson: rgb(77, 20, 0);
	--amethyst: hsl(270, 50%, 60%);
	--amethyst: #9966CC;
	--amethyst: rgb(153, 102, 204);
	--aqua-blue: hsl(180, 100%, 52%);
	--aqua-blue: #0AFFFF;
	--aqua-blue: rgb(10, 255, 255);
	--beige: hsl(60, 56%, 91%);
	--beige: #F5F5DC;
	--beige: rgb(245, 245, 219);
	--beryl: hsl(174, 77%, 63%);
	--beryl: #56E9DB;
	--beryl: rgb(88, 233, 219);
	--blue: hsl(240, 100%, 50%);
	--blue: #0000FF;
	--blue: rgb(0, 0, 255);
	--brass: hsl(52, 47%, 48%);
	--brass: #B5A642;
	--brass: rgb(180, 165, 65);
	--bright-red: hsl(0, 100%, 43%);
	--bright-red: #DB0000;
	--bright-red: rgb(219, 0, 0);
	--bronze: hsl(30, 61%, 50%);
	--bronze: #CD7F32;
	--bronze: rgb(205, 128, 50);
	--butter: hsl(60, 100%, 91%);
	--butter: #FFFFD2;
	--butter: rgb(255, 255, 209);
	--carbuncle: hsl(351, 49%, 39%);
	--carbuncle: #943241;
	--carbuncle: rgb(148, 51, 65);
	--cadmium-yellow: hsl(56, 100%, 50%);
	--cadmium-yellow: #FFEC00;
	--cadmium-yellow: rgb(255, 238, 0);
	--chalcedony: hsl(228, 31%, 59%);
	--chalcedony: #7784B8;
	--chalcedony: rgb(118, 131, 183);
	--charcoal: hsl(210, 35%, 9%);
	--charcoal: #101820;
	--charcoal: rgb(15, 23, 31);
	--chrysolite: hsl(74, 54%, 27%);
	--chrysolite: #5A6C20;
	--chrysolite: rgb(89, 106, 32);
	--chrysoprasus: hsl(159, 97%, 26%);
	--chrysoprasus: #028255;
	--chrysoprasus: rgb(2, 131, 86);
	--cocoa-brown: hsl(17, 13%, 10%);
	--cocoa-brown: #1E1917;
	--cocoa-brown: rgb(29, 24, 22);
	--darkblue: hsl(240, 100%, 27%);
	--darkblue: #00008B;
	--darkblue: rgb(0, 0, 138);
	--dark-sienna: hsl(14, 51%, 25%);
	--dark-sienna: #5F2E1F;
	--dark-sienna: rgb(96, 46, 31);
	--darkslategrey: hsl(180, 25%, 25%);
	--darkslategrey: #2F4F4F;
	--darkslategrey: rgb(48, 80, 80);
	--dimgrey: hsl(0, 0%, 41%);
	--dimgrey: #696969;
	--dimgrey: rgb(105, 105, 105);
	--dual-theme-grey: hsl(0, 0%, 47%);
	--dual-theme-grey: #777777;
	--dual-theme-grey: rgb(120, 120, 120);
	--ebony: hsl(16, 10%, 21%);
	--ebony: #3C3431;
	--ebony: rgb(59, 51, 48);
	--emerald-variant: hsl(151, 100%, 21%);
	--emerald-variant: #006B37;
	--emerald-variant: rgb(0, 107, 55);
	--emerald: hsl(140,52%,55%);
	--emerald: #50C878;
	--emerald: rgb(81, 200, 120);
	--gold: hsl(51, 100%, 50%);
	--gold: #FFD700;
	--gold: rgb(255, 217, 0);
	--green: hsl(120, 100%, 50%);
	--green: #00FF00;
	--green: rgb(0, 255, 0);
	--grey: hsl(0, 0%, 50%);
	--grey: #808080;
	--grey: rgb(128, 128, 128);
	--hotpink: hsl(330, 100%, 71%);
	--hotpink: #FF69B4;
	--hotpink: rgb(255, 107, 181);
	--indian-yellow: hsl(43, 100%, 50%);
	--indian-yellow: #FFB800;
	--indian-yellow: rgb(255, 183, 0);
	--indigo: hsl(275, 100%, 25%);
	--indigo: #4B0082;
	--indigo: rgb(74, 0, 128);
	--ivory: hsl(60, 100%, 97%);
	--ivory: #FFFFF0;
	--ivory: rgb(255, 255, 240);
	--jacinth: hsl(13, 100%, 51%);
	--jacinth: #FF3A03;
	--jacinth: rgb(255, 59, 5);
	--jasper-modern: hsl(359, 66%, 54%);
	--jasper-modern: #D73B3E;
	--jasper-modern: rgb(215, 60, 63);
	--jasper: hsl(8, 61%, 53%);
	--jasper: #D05340;
	--jasper: rgb(208, 82, 62);
	--light-olive: hsl(63, 33%, 86%);
	--light-olive: #E7E8D1;
	--light-olive: rgb(230, 231, 208);
	--ligure: hsl(210, 61%, 38%);
	--ligure: #26619C;
	--ligure: rgb(38, 97, 156);
	--linen: hsl(31, 68%, 94%);
	--linen: #FAF0E6;
	--linen: rgb(250, 240, 229);
	--mauveine: hsl(295, 97%, 31%);
	--mauveine: #8D029B;
	--mauveine: rgb(141, 2, 155);
	--midnight-black: hsl(0, 0%, 0%);
	--midnight-black: #000000;
	--midnight-black: rgb(0, 0, 0);
	--midnightblue: hsl(240, 64%, 27%);
	--midnightblue: #191970;
	--midnightblue: rgb(25, 25, 113);
	--navy: hsl(240, 100%, 25%);
	--navy: #000080;
	--navy: rgb(0, 0, 128);
	--off-white-1: hsl(0, 0%, 97%);
	--off-white-1: #F7F7F7;
	--off-white-1: rgb(247, 247, 247);
	--off-white-2: hsl(0, 0%, 98%);
	--off-white-2: #FAFAFA;
	--off-white-2: rgb(250, 250, 250);
	--off-white-3: hsl(0, 0%, 95%);
	--off-white-3: #F2F2F2;
	--off-white-3: rgb(242, 242, 242);
	--off-white-4: hsl(30, 8%, 95%);
	--off-white-4: #F3F2F1;
	--off-white-4: rgb(243, 242, 241);
	--off-white-5: hsl(210, 25%, 98%);
	--off-white-5: #F9FAFB;
	--off-white-5: rgb(249, 250, 251);
	--off-white-6: hsl(0, 0%, 99%);
	--off-white-6: #FCFCFC;
	--off-white-6: rgb(252, 252, 252);
	--off-white-7: hsl(0, 0%, 88%);
	--off-white-7: #E0E0E0;
	--off-white-7: rgb(224, 224, 224);
	--olive: hsl(60, 100%, 25%);
	--olive: #808000;
	--olive: rgb(128, 128, 0);
	--onyx: hsl(0, 0%, 6%);
	--onyx: #0F0F0F;
	--onyx: rgb(15, 15, 15);
	--orange: hsl(39, 100%, 50%);
	--orange: #FFA500;
	--orange: rgb(255, 166, 0);
	--pearl: hsl(42, 45%, 85%);
	--pearl: #EAE0C8;
	--pearl: rgb(234, 224, 200);
	--phthalo-blue: hsl(251, 100%, 13%);
	--phthalo-blue: #0C0040;
	--phthalo-blue: rgb(12, 0, 66);
	--phthalo-green: hsl(199, 58%, 15%);
	--phthalo-green: #102E3C;
	--phthalo-green: rgb(16, 46, 60);
	--prussian-blue: hsl(215, 94%, 14%);
	--prussian-blue: #021E44;
	--prussian-blue: rgb(2, 30, 69);
	--purple: hsl(300, 100%, 25%);
	--purple: #800080;
	--purple: rgb(128, 0, 128);
	--red: hsl(0, 100%, 50%);
	--red: #FF0000;
	--red: rgb(255, 0, 0);
	--ruby: hsl(337, 86%, 47%);
	--ruby: #E0115F;
	--ruby: rgb(223, 17, 96);
	--sap-green: hsl(129, 68%, 12%);
	--sap-green: #0A3410;
	--sap-green: rgb(10, 51, 16);
	--sapphire: hsl(216, 85%, 39%);
	--sapphire: #0F52BA;
	--sapphire: rgb(15, 83, 184);
	--sardius: hsl(10, 82%, 29%);
	--sardius: #87210D;
	--sardius: rgb(135, 34, 13);
	--sardonyx: hsl(1, 75%, 57%);
	--sardonyx: #E4433F;
	--sardonyx: rgb(228, 66, 63);
	--scarlet: hsl(8, 100%, 50%);
	--scarlet: #FF2400;
	--scarlet: rgb(255, 34, 0);
	--silver: hsl(0, 0%, 75%);
	--silver: #C0C0C0;
	--silver: rgb(191, 191, 191);
	--solarised-black: hsl(214, 88%, 24%);
	--solarised-black: #073672;
	--solarised-black: rgb(7, 54, 115);
	--solarised-blue: hsl(205, 69%, 49%);
	--solarised-blue: #268BD2;
	--solarised-blue: rgb(39, 139, 211);
	--solarised-brblack: hsl(192, 100%, 11%);
	--solarised-brblack: #002B36;
	--solarised-brblack: rgb(0, 45, 56);
	--solarised-brblue: hsl(186, 8%, 55%);
	--solarised-brblue: #839496;
	--solarised-brblue: rgb(131, 148, 149);
	--solarised-brcyan: hsl(180, 7%, 60%);
	--solarised-brcyan: #93A1A1;
	--solarised-brcyan: rgb(146, 160, 160);
	--solarised-brgreen: hsl(194, 14%, 40%);
	--solarised-brgreen: #586E75;
	--solarised-brgreen: rgb(88, 110, 116);
	--solarised-brmagenta: hsl(237, 43%, 60%);
	--solarised-brmagenta: #6C71C4;
	--solarised-brmagenta: rgb(109, 114, 197);
	--solarised-brred: hsl(18, 80%, 44%);
	--solarised-brred: #CB4B16;
	--solarised-brred: rgb(202, 76, 22);
	--solarised-brwhite: hsl(44, 87%, 94%);
	--solarised-brwhite: #FDF6E3;
	--solarised-brwhite: rgb(253, 246, 226);
	--solarised-bryellow: hsl(196, 13%, 45%);
	--solarised-bryellow: #657B83;
	--solarised-bryellow: rgb(100, 122, 130);
	--solarised-cyan: hsl(175, 59%, 40%);
	--solarised-cyan: #2AA198;
	--solarised-cyan: rgb(42, 162, 152);
	--solarised-green: hsl(68, 100%, 30%);
	--solarised-green: #859900;
	--solarised-green: rgb(133, 153, 0);
	--solarised-magenta: hsl(331, 64%, 52%);
	--solarised-magenta: #D33682;
	--solarised-magenta: rgb(211, 54, 130);
	--solarised-red: hsl(1, 71%, 52%);
	--solarised-red: #DC322F;
	--solarised-red: rgb(220, 49, 46);
	--solarised-white: hsl(46, 42%, 88%);
	--solarised-white: #EEE8D5;
	--solarised-white: rgb(237, 231, 212);
	--solarised-yellow: hsl(45, 100%, 35%);
	--solarised-yellow: #B58900;
	--solarised-yellow: rgb(179, 134, 0);
	--titanium-white: hsl(0, 0%, 100%);
	--titanium-white: #FFFFFF;
	--titanium-white: rgb(255, 255, 255);
	--topaz: hsl(35, 100%, 74%);
	--topaz: #FFC87C;
	--topaz: rgb(255, 200, 122);
	--tyrian-purple: hsl(325, 96%, 20%);
	--tyrian-purple: #66023C;
	--tyrian-purple: rgb(102, 2, 60);
	--van-dyke-brown: hsl(28, 24%, 11%);
	--van-dyke-brown: #221B15;
	--van-dyke-brown: rgb(35, 28, 21);
	--violet: hsl(300, 76%, 72%);
	--violet: #EE82EE;
	--violet: rgb(238, 129, 238);
	--white: hsl(0, 0%, 100%);
	--white: #FFFFFF;
	--white: rgb(255, 255, 255);
	--yellow: hsl(60, 100%, 50%);
	--yellow: #FFFF00;
	--yellow: rgb(255, 255, 0);
	--yellow-ochre: hsl(47, 100%, 39%);
	--yellow-ochre: #c79b00;
	--yellow-ochre: rgb(199, 156, 0);

	/** --blue: hsl(240, 100%, 50%);
	--blue: #0000FF;
	--blue: rgb(0, 0, 255); */
	/** --ivory: hsl(60, 100%, 97%); */
	--hue: 240;
	--sat: 100%;
	--lig: 50%;
	/** ---ivory: rgb(255, 255, 240); */
	--red: 0;
	--green: 0;
	--blue: 255;
	/**
	* Jewel palette safe saturation between 73 - 83
	*/
	--sat-73: 73%;
	--sat-74: 74%;
	--sat-75: 75%;
	--sat-76: 76%;
	--sat-77: 77%;
	--sat-78: 78%;
	--sat-79: 79%;
	--sat-80: 80%;
	--sat-81: 81%;
	--sat-82: 82%;
	--sat-83: 83%;

	/**
	* Jewel palette safe brightness/lightness between 56 - 76
	*/
	--lig-56: 56%;
	--lig-57: 57%;
	--lig-58: 58%;
	--lig-59: 59%;
	--lig-60: 60%;
	--lig-61: 61%;
	--lig-62: 62%;
	--lig-63: 63%;
	--lig-64: 64%;
	--lig-65: 65%;
	--lig-66: 66%;
	--lig-67: 67%;
	--lig-68: 68%;
	--lig-69: 69%;
	--lig-70: 70%;
	--lig-71: 71%;
	--lig-72: 72%;
	--lig-73: 73%;
	--lig-74: 74%;
	--lig-75: 75%;
	--lig-76: 76%;

	/**
	* Pastel palette safe saturation range
	*/
	--sat-lowest-for-low-end: 14%;
	--sat-highest-for-low-end: 89%;
	--sat-lowest-for-high-end: 21%;
	--sat-highest-for-high-end: 96%;

	/**
	* Earth palette safe saturation range
	*/
	--sat-earth-lowest: 26%;
	--sat-earth-highest: 41%;

	/**
	* Earth palette safe brightness/lightness range
	*/
	--lig-earth-lowest: 36%;
	--lig-earth-highest: 77%;

	/**
	* Neutral palette safe saturation range
	*/
	--sat-neutral-lowest: 1%;
	--sat-neutral-highest: 4%;

	/**
	* Neutral palette safe brightness/lightness range
	*/
	--lig-neutral-lowest: 58%;
	--lig-neutral-highest: 99%;

	/**
	* Fluorescent palette safe saturation range
	*/
	--sat-fluorescent-lowest: 63%;
	--sat-fluorescent-highest: 100%;

	/**
	* Fluorescent palette safe brightness/lightness range
	*/
	--lig-fluorescent-lowest: 82%;
	--lig-fluorescent-highest: 100%;

	/** Monochromatic scaling safe values are between 25% to 60% */
	--scale-10: 10%;
	--scale-20: 20%;
	--scale-25: 25%;
	--scale-30: 30%;
	--scale-40: 40%;
	--scale-50: 50%;
	--scale-60: 60%;
	--scale-70: 70%;
	--scale-80: 80%;
	--scale-90: 90%;

	--colour-wheel-range: 360;

	/** */
	--theme-colour: hsl(var(--hue), var(--sat), var(--lig));
	--lighten-percentage: 20%;
	--darken-percentage: 15%;

	--theme-colour--complement: hsl(calc(var(--hue) + 180), var(--sat), var(--lig));
	--theme-colour--complement--split1: hsl(calc(var(--hue) + 150), var(--sat), var(--lig));
	--theme-colour--complement--split2: hsl(calc(var(--hue) + 210), var(--sat), var(--lig));
	--theme-colour--triad1: hsl(calc(var(--hue) + 120), var(--sat), var(--lig));
	--theme-colour--triad2: hsl(calc(var(--hue) + 240), var(--sat), var(--lig));
	--theme-colour--tetrad1: hsl(calc(var(--hue) + 90), var(--sat), var(--lig));
	--theme-colour--tetrad2: hsl(calc(var(--hue) + 180), var(--sat), var(--lig));
	--theme-colour--tetrad3: hsl(calc(var(--hue) + 270), var(--sat), var(--lig));
	--theme-colour--analogue1: hsl(calc(var(--hue) + 30), var(--sat), var(--lig));
	--theme-colour--analogue2: hsl(calc(var(--hue) + 60), var(--sat), var(--lig));
	--theme-colour--analogue3: hsl(calc(var(--hue) + 90), var(--sat), var(--lig));

	--theme-colour--tint10: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-10)));
	--theme-colour--tint20: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-20)));
	--theme-colour--tint25: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-25)));
	--theme-colour--tint30: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-30)));
	--theme-colour--tint40: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-40)));
	--theme-colour--tint50: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-50)));
	--theme-colour--tint60: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-60)));
	--theme-colour--tint70: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-70)));
	--theme-colour--tint80: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-80)));
	--theme-colour--tint90: hsl(var(--hue), var(--sat), calc(var(--lig) + var(--scale-90)));

	--theme-colour--shade10: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-10)));
	--theme-colour--shade20: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-20)));
	--theme-colour--shade25: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-25)));
	--theme-colour--shade30: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-30)));
	--theme-colour--shade40: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-40)));
	--theme-colour--shade50: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-50)));
	--theme-colour--shade60: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-60)));
	--theme-colour--shade70: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-70)));
	--theme-colour--shade80: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-80)));
	--theme-colour--shade90: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--scale-90)));

	--theme-colour--tone10: hsl(var(--hue), var(--scale-10), var(--lig));
	--theme-colour--tone20: hsl(var(--hue), var(--scale-20), var(--lig));
	--theme-colour--tone25: hsl(var(--hue), var(--scale-25), var(--lig));
	--theme-colour--tone30: hsl(var(--hue), var(--scale-30), var(--lig));
	--theme-colour--tone40: hsl(var(--hue), var(--scale-40), var(--lig));
	--theme-colour--tone50: hsl(var(--hue), var(--scale-50), var(--lig));
	--theme-colour--tone60: hsl(var(--hue), var(--scale-60), var(--lig));
	--theme-colour--tone70: hsl(var(--hue), var(--scale-70), var(--lig));
	--theme-colour--tone80: hsl(var(--hue), var(--scale-80), var(--lig));
	--theme-colour--tone90: hsl(var(--hue), var(--scale-90), var(--lig));

	--accent-1-light-theme: hsl(var(--hue), var(--sat), calc(var(--lig) - var(--darken-percentage)));
	--accent-2-light-theme: hsl(var(--hue), calc(var(--sat) - var(--darken-percentage)), calc(var(--lig) - (var(--golden-ratio) * var(--lighten-percentage))));
	--accent-1-dark-theme: hsl(var(--hue), var(--sat), calc(var(--lig) + (2 * var(--lighten-percentage))));
	--accent-2-dark-theme: hsl(var(--hue), calc(var(--sat) + var(--lighten-percentage)), calc(var(--lig) + (var(--golden-ratio) * var(--lighten-percentage))));

	/* General ratios */
	--golden-ratio: 1.618;
	--perfect-fifth: 1.500;
	--augmented-fourth: 1.414;
	--perfect-fourth: 1.333;
	--major-third: 1.250;
	--minor-third: 1.200;
	--major-second: 1.125;
	--minor-second: 1.067;

	--shadow-colour: hsl(var(--hue), 60%, 50%);
	--shadow-start: 1rem;
	--alpha-07: 0.70;
	--alpha-03: 0.33;
	--alpha-02: 0.20;

	/* box-shadow: X-offset Y-offset Blur-size Colour*/
	--box-shadow1: calc((var(--shadow-start) / 2) (var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), var(--alpha-07));
	--box-shadow1: var(--golden-ratio) calc(var(--shadow-start) * var(--golden-ratio)) var(--golden-ratio)  black;
	
	--box-shadow1--animate: calc((var(--shadow-start) / 2) (var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), calc(var(--alpha-07) / 2));

	--box-shadow2: var(--shadow-start) calc((var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), var(--alpha-03)), calc((var(--shadow-start) * 2) (var(--shadow-start) * var(--golden-ratio) * 2) (var(--shadow-start) * var(--golden-ratio) * 2)) hsla(var(--shadow-colour), var(--alpha-03));

	--box-shadow2--animate: var(--shadow-start) calc((var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), calc(var(--alpha-03) / 2)), calc((var(--shadow-start) * 2) (var(--shadow-start) * var(--golden-ratio) * 2) (var(--shadow-start) * var(--golden-ratio) * 2)) hsla(var(--shadow-colour), calc(var(--alpha-03) / 2));

	--box-shadow3: var(--shadow-start) calc((var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), var(--alpha-02)), calc((var(--shadow-start) * 2) (var(--shadow-start) * var(--golden-ratio) * 2) (var(--shadow-start) * var(--golden-ratio) * 2)) hsla(var(--shadow-colour), var(--alpha-02)), calc((var(--shadow-start) * 4) (var(--shadow-start) * var(--golden-ratio) * 4) (var(--shadow-start) * var(--golden-ratio) * 4)) hsla(var(--shadow-colour), var(--alpha-02));

	--box-shadow3--animate: var(--shadow-start) calc((var(--shadow-start) * var(--golden-ratio)) (var(--shadow-start) * var(--golden-ratio))) hsla(var(--shadow-colour), calc(var(--alpha-02) / 2)), calc((var(--shadow-start) * 2) (var(--shadow-start) * var(--golden-ratio) * 2) (var(--shadow-start) * var(--golden-ratio) * 2)) hsla(var(--shadow-colour), calc(var(--alpha-02) / 2)), calc((var(--shadow-start) * 4) (var(--shadow-start) * var(--golden-ratio) * 4) (var(--shadow-start) * var(--golden-ratio) * 4)) hsla(var(--shadow-colour), calc(var(--alpha-02) / 2));

	/**-- Change contrastThreshold to 50% when L value of colour equals 50% --**/
	--contrast-threshold: 60%;
	--switch: calc((var(--lig) - var(--contrast-threshold)) * -100);
	--theme-text-colour: hsl(0, 0%, var(--switch));
	--accessible-colour-rgb: calc(((((var(--red) * 299) + (var(--green) * 587) + (var(--blue) * 114)) / 1000) - 128) * -1000);

	--accordion-border-colour: hsl(0, 0%, 50%);

	--font-stack-body: system-ui, -apple-system, BlinkMacSystemFont, ̈́"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, SFProDisplay-Regular, Inter, "Fira Sans", "Open Sans", "Droid Sans", "Nimbus Sans", "DejaVu Sans", "Helvetica Neue", Helvetica, Arial, Poppins, Verdana, Tahoma, Arimo, sans-serif;

	--min-font-size: 20;
	--max-font-size: 32;
	--min-viewport-width: 320;
	--max-viewport-width: 2560;

	--custom-font-size-3: calc(15px + 0.390625vw);
	--custom-font-size-7: calc((1px * var(--min-font-size)) + (((var(--max-font-size) - var(--min-font-size)) * (100vw - (1px * var(--min-viewport-width)))) / (var(--max-viewport-width) - var(--min-viewport-width))));
	min-height: 0vw;

	--font-scale-ratio: var(--golden-ratio); /* input one of the above */
	/* >>> Modular scale: https://every-layout.dev/rudiments/modular-scale/ */
	--fs-5: calc(var(--fs-4) / var(--font-scale-ratio));
	--fs-4: calc(var(--fs-3) / var(--font-scale-ratio));
	--fs-3: calc(var(--fs-2) / var(--font-scale-ratio));
	--fs-2: calc(var(--fs-1) / var(--font-scale-ratio));
	--fs-1: calc(var(--fs0) / var(--font-scale-ratio));
	--fs0: var(--custom-font-size-7);
	--fs1: calc(var(--fs0) * var(--font-scale-ratio));
	--fs2: calc(var(--fs1) * var(--font-scale-ratio));
	--fs3: calc(var(--fs2) * var(--font-scale-ratio));
	--fs4: calc(var(--fs3) * var(--font-scale-ratio));
	--fs5: calc(var(--fs4) * var(--font-scale-ratio));

	/* Column size */
	--grid-min: 30ch;
	--grid-min--1: 20ch;
	--grid-min--2: 10ch;
	--grid-min--3: 25ch;
	--flex-min: 35rem;
	--pancake-min: var(--grid-min);
	--max-number-of-column: 4;
	--breakpoint-size: 480;

	/* >>> Contextual Spacing For Intrinsic Web Design: https://moderncss.dev/contextual-spacing-for-intrinsic-web-design/ */
	/* Paddings, Margins, Gaps */
	--padding-XS: clamp(0.5rem, 1.5%, 0.75rem);
	--padding-S: clamp(1rem, 3%, 1.5rem);
	--padding-M: clamp(1.5rem, 6%, 3rem);
	--padding-L: clamp(3rem, 12%, 6rem);
	--padding-XL: clamp(6rem, 24%, 12rem);
	/* https://matthewjamestaylor.com/responsive-padding */
	--responsive-space--XXXL: calc(48px + 1.5625vw);
	--responsive-space--XXL: calc(40px + 1.5625vw);
	--responsive-space--XL: calc(32px + 1.5625vw);
	--responsive-space--L: calc(24px + 1.5625vw);
	--responsive-space--M: calc(16px + 1.5625vw);
	--responsive-space: calc(8px + 1.5625vw);
	--responsive-space--S: calc(4px + 1.5625vw);
	--responsive-space--XS: calc(2px + 1.5625vw);
	--responsive-space--XXS: calc(1px + 1.5625vw);
	--responsive-space--XXXS: calc(0.5px + 1.5625vw);

	--margin-XS: min(1rem, 2vh);
	--margin-S: min(2rem, 4vh);
	--margin-M: min(4rem, 8vh);
	--margin-L: min(8rem, 16vh);
	--margin-XL: min(16rem, 32vh);

	--layout-gap-XS: clamp(0.5rem, 1.5vmax, 0.75rem);
	--layout-gap-S: clamp(1rem, 3vmax, 1.5rem);
	--layout-gap-M: clamp(1.5rem, 6vmax, 3rem);
	--layout-gap-L: clamp(3rem, 8vmax, 4rem);
	--layout-gap-XL: clamp(6rem, 16vmax, 8rem);

	--flexbox-albatross-margin: 0.1rem;
	--flexbox-albatross-container-size: 30rem;
	--flexbox-albatross-modifier: calc(var(--flexbox-albatross-container-size) - 100%);
	/*-- End of paddings, margins and gaps --*/

	--border-radius-value--S: 0.2rem;
	--border-radius-value: 0.4rem;
	--border-radius-value--M: 0.8rem;
	--border-radius-value--L: 1.2rem;
	--border-radius-circle-value: 50%;
	--border-radius-elliptic-value: 25%;

	--radio-input-size: 18px;

	tab-size: 4 !important;
	color-scheme: light dark;
}

/* -------------------------------------- */
/*              RESETS                    */
/* -------------------------------------- */
*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	min-width: 0;
	max-width: 100%;
	/** overflow-x: hidden; */
	position: relative;
}

*::before,
*::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

.hidden,
[hidden] {
	display: none !important;
}

/* CSS Height That Works in Both Modern and Legacy Browsers | https://stackoverflow.com/a/65836306 */
/**
* @author: Leonid Fenko
* @link: https://dev.to/fenok/stretching-body-to-full-viewport-height-the-missing-way-2ghd
*/

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-size: calc(15px + 0.390625vw);
	font-size: var(--custom-font-size-7);
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body {
	flex-grow: 1;
	font-family: var(--font-stack-body);
	line-height: var(--golden-ratio);
	line-height: calc(1.618rem - (1.618 - 1.3) * ((100vw - 21rem) / (35 - 21)));
	line-height: calc(3px + 2.5ex + 3px);
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
	word-wrap: break-word;
}

p {
	max-width: 65ch;
}

/* HTML5 blocks - needed in older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
	list-style-position: unset;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	list-style-position: unset;
}

a,
button,
input,
select,
textarea,
label,
summary {
	touch-action: manipulation;
}

/**
 * @workaround Remove focus from tabindex="-1" elements which are only script focusable
 * @link https://code.google.com/p/chromium/issues/detail?id=37721
 */
[tabindex="-1"]:focus {
	outline: none;
}

/**
 * Make underline position and width constant regardless of text size and weight.
		(0.0625rem = 1px underline for 16px root font size)
 * @link https://danburzo.ro/snippets/css-reset/
*/
a {
	text-underline-offset: 0.15em;
	text-decoration-thickness: max(1px, 0.0625rem);
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
	text-decoration: inherit;
	color: inherit;
	display: inline-block;
	background-color: transparent;
	word-wrap: break-word;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

audio,
img,
picture,
video,
iframe,
canvas,
object,
embed,
svg  {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

img {
	width: auto\9;
	width: inherit; /* This makes auto-resizing with max-width 100% and height auto work in IE8 */
	max-height: 100%;
	max-width: 100%;
}

audio:not([controls]) {
	display: none;
}

svg {
	fill: currentColor;
	overflow: hidden;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
	font-size: 100%;
	vertical-align: middle;
}

input,
textarea {
	-o-user-select: auto;
	-ms-user-select: auto;
	-moz-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
	cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
	cursor: default;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
}

input[type="button"] {
	cursor: pointer;
}

[type="button"],
[type="reset"],
[type="submit"],
[type="image"],
[type="checkbox"],
[type="radio"] {
	cursor: pointer;
}

input[type="text"],
input[type="number"],
select,
textarea {
	font-size: 16px;
}

input,
label {
  cursor: pointer;
}

[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/**
* What is Cross-Browser Compatibility? How to Build Websites that Work Everywhere
* @link https://www.freecodecamp.org/news/what-is-cross-browser-compatibility/
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #909090;
	opacity: 1; /* Firefox */
}

input.studentid:-ms-input-placeholder { /* Microsoft Edge */
	color: #909090;
}

button {
	border: none;
	border-radius: 0.8rem;
	font-family: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

button[disabled] {
	background-color: inherit;
	background-color: var(--dual-theme-grey);
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
	font-weight: 400;
}

small {
	font-size: 80%;
}

sup,
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

table {
	border-color: inherit;
	border-collapse: collapse;
	text-indent: 0;
	max-width: 100%;
	margin-bottom: var(--responsive-space--M);
}

caption {
	text-align: left;
}

th,
td {
	text-align: start;
	vertical-align: top;
}

th {
	font-weight: bold;
}

textarea {
	resize: vertical;
	white-space: revert;
}

textarea:not([rows]) {
	min-height: 10rem;
}

details {
	display: block;
}

details summary {
	cursor: pointer;
}

summary {
	display: list-item;
}

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border-top-width: 0.0625rem;
	margin: 0;
	clear: both;
	color: inherit;
}

code {
	word-wrap: break-word;
}

pre {
	font-family: monospace;
	font-size: inherit;
	display: block;
	overflow: auto;
	tab-size: 4;
	white-space: pre-wrap;
	word-break: break-all;
}

code,
kbd,
samp {
	font-family: monospace;
	font-size: inherit;
}

progress {
	vertical-align: baseline;
}

:-moz-focusring {
	outline: auto;
}

select:disabled {
	opacity: inherit;
}

[contenteditable]:focus {
	outline: auto;
}

/* For Chrome, Firefox, and Edge */
.customised-scrollbar {
	-webkit-scrollbar: thin;
	scrollbar-width: thin;
	-webkit-scrollbar-color: #C0C0C0 #F0F0F0;
	scrollbar-color: #C0C0C0 #F0F0F0;
}

/* For Safari */
.mostly-customised-scrollbar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #AAAAAA; /* or add it to the track */
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	appearance: textfield;
	outline-offset: -2px;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

:is(a, button, input, textarea, summary) {
	--outline-size: max(2px, 0.08em);
	--outline-style: solid;
	--outline-color: currentColor;
}

:is(a, button, input, textarea, summary):focus {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus-visible {
	outline: var(--outline-size) var(--outline-style) var(--outline-color);
	outline-offset: var(--outline-offset, var(--outline-size));
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
	outline: none;
}

:target {
	scroll-margin-block: 5ex;
}

/* For frameworks */
#root,
#__next {
	isolation: isolate;
}

/*-- End of Resets --*/

.body {
	background-color: var(--theme-colour--analogue1);
	background: linear-gradient(110deg, var(--theme-colour--analogue1), var(--theme-colour--analogue2), var(--theme-colour--analogue3));
	color: var(--theme-text-colour);
}

.body-container {
	display: flex;
	flex-direction: column;
	/** justify-content: space-around; */
	align-items: center;
	max-width: 30rem;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--linen);
	border-radius: var(--border-radius-value--M);
	position: relative;
}

.body-container > * {
	flex-grow: 1;
}

.header,
.main,
.footer {
	width: 100%;
	padding: var(--responsive-space--XS);
}

.header {
	background-color: var(--theme-colour);
	border-top-left-radius: var(--border-radius-value--M);
	border-top-right-radius: var(--border-radius-value--M);
}

.main {
	margin-bottom: var(--responsive-space);
	background-color: var(--linen);
}

/* ================================================ */

/**
 * @section Display Outputs
 * Styling for output divs.
 */


.section-output {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	min-height: 45vh;
	background-color: transparent;
	padding: var(--responsive-space--XXXS);
	border-radius: calc(var(--border-radius-value--S) + var(--responsive-space--XXXS));
	box-shadow: -0.1875rem -0.1875rem 0.0625rem lightgrey, 0.1875rem 0.1875rem 0.0625rem var(--dual-theme-grey);
}

.section-output > * {
	flex: 0 1 var(--grid-min--2);
	background-color: var(--dual-theme-grey);
}

.output-div {
	outline: 0.033rem dotted white;
	align-self: auto;
	font-size: var(--fs-2);
	line-height: var(--minor-third);
	text-align: center;
	text-shadow: -0.0625rem -0.0625rem 0.0625rem var(--dual-theme-grey);
	vertical-align: middle;
}

.output-div__theme {
	background-color: var(--theme-colour);
}

.output-div__accent-light1 {
	background-color: var(--accent-1-light-theme);
}

.output-div__accent-light2 {
	background-color: var(--accent-2-light-theme);
}

.output-div__accent-dark1 {
	background-color: var(--accent-1-dark-theme);
}

.output-div__accent-dark2 {
	background-color: var(--accent-2-dark-theme);
}

.output-div__complement {
	background-color: var(--theme-colour--complement);
}

.output-div__complement--split1 {
	background-color: var(--theme-colour--complement--split1);
}

.output-div__complement--split2 {
	background-color: var(--theme-colour--complement--split2);
}

.output-div__triad1 {
	background-color: var(--theme-colour--triad1);
}

.output-div__triad2 {
	background-color: var(--theme-colour--triad2);
}

.output-div__triad3 {
	background-color: var(--theme-colour--triad3);
}

.output-div__tetrad1 {
	background-color: var(--theme-colour--tetrad1);
}

.output-div__tetrad2 {
	background-color: var(--theme-colour--tetrad2);
}

.output-div__tetrad3 {
	background-color: var(--theme-colour--tetrad3);
}

.output-div__analogue1 {
	background-color: var(--theme-colour--analogue1);
}

.output-div__analogue2 {
	background-color: var(--theme-colour--analogue2);
}

.output-div__analogue3 {
	background-color: var(--theme-colour--analogue3);
}

.output-div__tint10 {
	background-color: var(--theme-colour--tint10);
}

.output-div__tint20 {
	background-color: var(--theme-colour--tint20);
}

.output-div__tint25 {
	background-color: var(--theme-colour--tint25);
}

.output-div__tint30 {
	background-color: var(--theme-colour--tint30);
}

.output-div__tint40 {
	background-color: var(--theme-colour--tint40);
}

.output-div__tint50 {
	background-color: var(--theme-colour--tint50);
}

.output-div__tint60 {
	background-color: var(--theme-colour--tint60);
}

.output-div__tint70 {
	background-color: var(--theme-colour--tint70);
}

.output-div__tint80 {
	background-color: var(--theme-colour--tint80);
}

.output-div__tint90 {
	background-color: var(--theme-colour--tint90);
}

.output-div__shade10 {
	background-color: var(--theme-colour--shade10);
}

.output-div__shade20 {
	background-color: var(--theme-colour--shade20);
}

.output-div__shade25 {
	background-color: var(--theme-colour--shade25);
}

.output-div__shade30 {
	background-color: var(--theme-colour--shade30);
}

.output-div__shade40 {
	background-color: var(--theme-colour--shade40);
}

.output-div__shade50 {
	background-color: var(--theme-colour--shade50);
}

.output-div__shade60 {
	background-color: var(--theme-colour--shade60);
}

.output-div__shade70 {
	background-color: var(--theme-colour--shade70);
}

.output-div__shade80 {
	background-color: var(--theme-colour--shade80);
}

.output-div__shade90 {
	background-color: var(--theme-colour--shade90);
}

.output-div__tone10 {
	background-color: var(--theme-colour--tone10);
}

.output-div__tone20 {
	background-color: var(--theme-colour--tone20);
}

.output-div__tone25 {
	background-color: var(--theme-colour--tone25);
}

.output-div__tone30 {
	background-color: var(--theme-colour--tone30);
}

.output-div__tone40 {
	background-color: var(--theme-colour--tone40);
}

.output-div__tone50 {
	background-color: var(--theme-colour--tone50);
}

.output-div__tone60 {
	background-color: var(--theme-colour--tone60);
}

.output-div__tone70 {
	background-color: var(--theme-colour--tone70);
}

.output-div__tone80 {
	background-color: var(--theme-colour--tone80);
}

.output-div__tone90 {
	background-color: var(--theme-colour--tone90);
}

.output-div__class- {
	background-color: var();
}





/* ================================================ */

/**
 * @section Form Inputs
 * Styling for different form inputs.
 */

.section-input {
	border-radius: var(--border-radius-value);
	font-weight: 500;
}

.inputs-form > .details {
	margin-top: var(--responsive-space--S);
}

/**
 * @section Details and Accordion
 * Styling for details and accordion.
 */

.details .summary {
	cursor: pointer;
}

.details > .summary::-webkit-details-marker {
	display: none;
}

.summary {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--responsive-space--XXS) var(--responsive-space--XS);
	margin-bottom: var(--responsive-space--XS);
	font-weight: bold;
	color: #30353B;
}

.summary::after {
	content: "\2795";
	transition: 0.618s;
}

.details[open] > .summary {
	background-color: var(--theme-colour--analogue1);
	background-color: var(--theme-colour--tint30);
	border-bottom: 0.125rem solid #FFF9F1;
	border-radius: calc(var(--border-radius-value) + var(--responsive-space--XXS)); /* https://twitter.com/lilykonings/status/1567317037126680576/photo/1 */
}

.details[open] > .summary::after {
	transform: rotate(-180deg);
	content: "\2796";
}

.details {
	background-color: #EEEBDC;
	border: 0.01rem solid var(--theme-colour--analogue1);
	border-radius: calc(var(--border-radius-value) + var(--responsive-space--XXS)); /* https://twitter.com/lilykonings/status/1567317037126680576/photo/1 */
	box-shadow: var(--box-shadow1);
	padding: var(--responsive-space--XXS);
}

.details[open] {
	background-color: var(--accent-2-light-theme, #070753);
	box-shadow: -0.1875rem -0.1875rem 0.0625rem lightgrey, 0.1875rem 0.1875rem 0.0625rem var(--dual-theme-grey);
}

.form-fieldset {
	opacity: 0;
	margin-bottom: 1.618rem;
}

.details[open] .form-fieldset {
	animation: fade-in 0.3s linear forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.details > .summary:focus {
	outline: none;
}

.summary:focus-visible {
	outline: 0.1875rem dotted #FF0060;
}

.colour-slider-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.colour-slider-container > * {
	flex: 1 1 var(--grid-min--3);
}

.colour-slider__label {
	max-width: 30%;
}

.colour-slider-input__wrapper {
	display: flex;
	justify-content: flex-start;
}

.colour-slider__input {
	flex-grow: 3;
	max-width: 80%;
}

.colour-slider-input__output {
	font-size: var(--fs-1);
	font-weight: bold;
}

/**
 * @section Buttons
 * Styling for buttons.
 */
 .button {
	--btn-HSL: var(--blue) /* hsl(240, 100%, 50%) */;
	--btn-h: 240;
	--btn-sat: 100%;
	--btn-light: 50%;
	--border-threshold: 5%;
	--border-light: calc(var(--btn-light) * 0.7);
	--border-alpha: calc((var(--btn-light) - var(--border-threshold)) * 10);
	--btn-background-colour: hsl(var(--btn-h), var(--btn-sat), var(--btn-light));
	--btn-border-colour: hsla(var(--btn-h), var(--btn-sat), var(--border-light), var(--border-alpha));
	--btn-background-colour--hover: hsl(var(--btn-h), var(--btn-sat), calc(var(--btn-light) * 1.30));
	display: inline-block;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	-khtml-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin: 2px 0;
	border: 2px solid transparent;
	border: 0.2rem solid var(--btn-border-colour);
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	border-radius: var(--border-radius-value--M);
	box-shadow: var(--box-shadow1);
	min-width: 12ch;
	min-height: 44px;
	min-height: 5ch;
	max-width: 75%;
	padding: 0.25em 0.75em;
	margin-left: auto;
	margin-right: auto;
	margin-top: var(--responsive-space--XS);
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	background-color: var(--btn-background-colour);
	outline: solid transparent;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-align: center;
	text-decoration: none;
	line-height: 1.1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
}

.button--secondary {
	/* sets the background color as a 60º rotated hue */
	--btn-h: calc(var(--hue) + 60);
}

.button:visited {
	font-weight: bold;
	outline-color: currentColor;
	-moz-outline: 0.01rem dotted var(--theme-colour--complement);
	outline: 0.1em dotted var(--dual-theme-grey, #777777);
	outline: 0.01rem dotted var(--theme-colour--complement);
	outline-offset: -2px;
	outline-offset: -0.5rem;
	opacity: 0.5;
}

.button:focus {
	outline-style: solid;
	outline-color: transparent;
	box-shadow: 0 0 0 1px inherit, 0 0 0 3px inherit;
}

.button:focus-visible {
	outline: 0.125rem solid transparent;
	outline-offset: 0.125rem;
}

.button:hover {
	-webkit-border-radius: var(--border-radius-value--large);
	-moz-border-radius: var(--border-radius-value--large);
	border-radius: var(--border-radius-value--large);
	color: inherit;
	outline-color: var(--dual-theme-grey);
	outline-color: currentColor;
	outline-color: var(--theme-colour--complement);
	background-color: inherit;
	background-color: var(--btn-background-colour--hover);
	font-weight: bold;
}


.button:active {
	color: inherit;
	transform: translateY(8px);
	filter: saturate(150%);
}

.button[disabled] {
	background-color: var(--dual-theme-grey);
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;
}

.button__icon {
	/* You may wish to have your icons appear larger or smaller in relation to the text */
	width: 0.9em;
	height: 0.9em;
	fill: currentColor;
	margin-right: 0.5em;
}

.button__icon--end {
	margin-right: 0;
	margin-left: 0.5em;
}


.icon-button {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.35em;
	border-radius: 50%;
}

.icon-button__icon {
	width: 100%;
	height: 100%;
	fill: currentColor;
}


/**
 * @section Inputs
 * Styling for inputs.
 */
.input {
	min-height: 1.5rem;
	font-size: 1rem;
	font-size: max(16px, 1em);
	font-family: inherit;
	padding: 0.25em 0.5em;
	background-color: var(--solarised-white);
	border: 0.125rem solid var(--input-border);
	border-radius: var(--border-radius-value);
}

.input:focus {
	border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
	box-shadow: 0 0 0 0.1875rem hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
	outline: 3px solid transparent;
}

.input:hover {
	outline: 0.1rem solid var(--theme-colour--complement--split2);
}

.input[disabled] {
	--input-border: var(--text-grey25);
	background-color: var(--text-grey75);
	cursor: not-allowed;
}

.radios-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-height: 30vh;
	overflow-y: auto;
}

.radios-container > * {
	flex: 1 1 var(--grid-min--1);
}

input[type="radio"] {
	position: absolute;
	top: auto;
	overflow: hidden;
	clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
	clip: rect(0 0 0 0);
	width: 0.0625rem;
	height: 0.0625rem;
	padding: 0;
	border: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

input[type="radio"] + label {
	content: "";
	display: inline-block;
	/** margin: -2px; */
	padding: 0.25rem 0.5rem;
	margin-bottom: 0;
	font-size: 1rem;
	line-height: 1.15;
	color: #333333;
	text-align: center;
	text-shadow: 0 0.0625rem 0.0625rem rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #F5F5F5;
	background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
	background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
	background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
	background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
	background-repeat: repeat-x;
	border: 0.0625rem solid #CCCCCC;
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #B3B3B3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF',endColorstr='#FFE6E6E6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 0.0625rem 0 rgba(255,255,255,0.2),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 0.0625rem 0 rgba(255,255,255,0.2),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	box-shadow: inset 0 0.0625rem 0 rgba(255,255,255,0.2),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	transition: all 0.1s ease-out;
}

input[type="radio"] + label:hover,
input[type="radio"] + label:focus {
	outline: 0.1rem solid var(--theme-colour--complement--split2);
}

input[type="radio"]:checked + label {
	background-image: none;
	-webkit-box-shadow: inset 0 0.125rem 0.25rem rgba(0,0,0,0.15),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 0.125rem 0.25rem rgba(0,0,0,0.15),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	box-shadow: inset 0 0.125rem 0.25rem rgba(0,0,0,0.15),0 0.0625rem 0.125rem rgba(0,0,0,0.05);
	background-color:#E0E0E0;
	outline: 0.1rem solid var(--theme-colour--triad1);
}

.radio__label {
	margin: var(--responsive-space--XXS);
	border-radius: var(--responsive-space--XS);
	position: relative;
	font-weight: 600;
}

input[type="radio"] + label::after {
	position: absolute;
	content: "\00A0 \00A0 \00A0 \00A0 \00A0";
	top: 15%;
	right: 1%;
	background-color: var(--radio-colour-hsl);
	border: 0.0625rem solid var(--dual-theme-grey);
	border-radius: calc(var(--border-radius-value) + var(--responsive-space--XS));
}


.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--responsive-space--XXS) var(--responsive-space--XS);
	background-color: var(--theme-colour--tint20, hsl(240, 100%, 70%));
	border-bottom-left-radius: var(--border-radius-value--M);
	border-bottom-right-radius: var(--border-radius-value--M);
	font-size: var(--fs-1);
	line-height: var(--minor-third);
	text-align: center;
}



/* -------------------------------------- */
/*              MEDIA QUERIES             */
/* -------------------------------------- */
/* Tablet portrait only */
@media (min-width: 600px) and (max-width: 899px) {/**...*/}
/* Tablet landscape only */
@media (min-width: 900px) and (max-width: 1199px) {/**...*/}
/* Desktop only */
@media (min-width: 1200px) and (max-width: 1799px) {/**...*/}
/* Big desktop upwards */
@media (min-width: 1200px) {/**...*/}

/* Prevent scaling beyond this breakpoint */
@media (min-width: 2560px) {
	:root {
		font-size: 32px;
	}
}

@media (prefers-color-scheme: dark) {
	html, body {
		background-color: var(--cocoa-brown);
	}
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

